<html>

<head>
  <title>Bounding box annotator demo</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="../static/js/bbox_annotator.js"></script>
</head>

<body>
  <h1>Bounding box annotator demo</h1>
  <div id="bbox_annotator" style="display:inline-block;width:30%;height:30%"></div>
  <div style="display:inline-block;vertical-align:top;">
    <div>
      <textarea id="annotation_data" name="annotation" rows="30" cols="50" style="font-family:monospace;"
        readonly></textarea>
    </div>
    <div>
      <input id="reset_button" type="reset" />
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      var annotator = new BBoxAnnotator({
        url: "/database/SAMPLE/sample_1.jpg",
        input_method: "fixed",
        labels: ["minion", "dress", "eyeglasses"],
        onchange: function (entries) {
          // Input the text area on change. Use "hidden" input tag unless debugging.
          // <input id="annotation_data" name="annotation_data" type="hidden" />
          // $("#annotation_data").val(JSON.stringify(entries))
          $("#annotation_data").text(JSON.stringify(entries, null, "  "));
        },
        width:600,
        height:600
      });
      // Initialize the reset button.
      $("#reset_button").click(function (e) {
        annotator.clear_all();
      })
    });
  </script>
</body>

</html>