{% extends "base.html" %}

{% block side %}
{{super()}}
{% endblock %}

{% block contents %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">{{Title}}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{Title}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">

    <form name=frm action="../theme/adminlte2/skin/board/product/write_admin_in.skin.php" method=post>

      <table id="example2" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th style="min-width:80px;">병원명</th>
            <th class="hide_in_mobile" style="text-align:center;max-width:20%;">7일간 업로드</th>
            <th class="hide_in_mobile" style="text-align:center;width:20%;">금일 업로드</th>
            <th style="text-align:center;min-width:130px;">최근접속일</th>
            <th style="text-align:center;min-width:130px;">최근전송일</th>
          </tr>
        </thead>
        <tbody>
          {% for hospital in hospitals %}
          <tr>
            <td>
              <a href='#'>
                {{hospital["NAME"]}} <i class="fas fa-copy"></i></a>
            </td>
            <td class="hide_in_mobile" style=text-align:center;>{{hospital["WEEKLYIMAGES"]}}</td>
            <td class="hide_in_mobile" style=text-align:center;>{{hospital["DAILYIMAGES"]}}</td>
            <td style=text-align:center;>{{hospital["최근접속일"]}}</td>
            <td style=text-align:center;>{{hospital["최근전송일"]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!--<input type=submit value=SAVE>-->
    </form>

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}