{% extends "base.html" %}

{% block side %}
{{super()}}
{% endblock %}

{% block contents %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">{{Title}}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{Title}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">

    <form name=frm action="../theme/adminlte2/skin/board/product/write_admin_in.skin.php" method=post>

      <table id="example2" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th style="min-width:80px;">병원명</th>
            <th class="hide_in_mobile" style="text-align:center;max-width:20%;">7일간 업로드</th>
            <th class="hide_in_mobile" style="text-align:center;width:20%;">금일 업로드</th>
            <th style="text-align:center;min-width:130px;">최근접속일</th>
            <th style="text-align:center;min-width:130px;">최근전송일</th>
          </tr>
        </thead>
        <tbody>
          {% for hospital in hospitals %}
          <tr>
            <td>
              <a href='#' data-toggle="modal" data-target="#modal-lg" onclick="openModal('{{hospital["NAME"]}}')">
                {{hospital["NAME"]}} <i class="fas fa-copy"></i></a>
            </td>
            <td class="hide_in_mobile" style=text-align:center;>{{hospital["WEEKLYIMAGES"]}}</td>
            <td class="hide_in_mobile" style=text-align:center;>{{hospital["DAILYIMAGES"]}}</td>
            <td style=text-align:center;>{{hospital["최근접속일"]}}</td>
            <td style=text-align:center;>{{hospital["최근전송일"]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!--<input type=submit value=SAVE>-->
    </form>

    <div class="modal fade" id="modal-lg">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form name=frm action="/hospital" method="POST">
            <div class="modal-header">
              <h4 class="modal-title">상세 정보</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <strong><i class="fas fa-id-card-alt"></i> ID</strong>
                <input type="text-muted" class="form-control" id="ID" name="ID" value="판비병원" readonly>
                <hr>
                <strong><i class="fas fa-id-card-alt"></i> 병원명</strong>
                <input type="text-muted" class="form-control" id="NAME" name="NAME" value="판비병원" autocomplete="off">
                <hr>
                <strong><i class="fas fa-phone-volume"></i> 휴대폰번호</strong>
                <input type="text-muted" class="form-control" id="CONTACT" name="CONTACT" value="010-1234-1234" autocomplete="off">
                <hr>
                <strong><i class="fas fa-hospital"></i> 주소</strong>
                <input type="text-muted" class="form-control" id="ADDRESS" name="ADDRESS" value="서울시 서초구 양재동" autocomplete="off">
                <hr>
                <strong><i class="far fa-file-alt mr-1"></i> 연동장비</strong>
                <input type="text-muted" class="form-control" id="DEVICE" name="DEVICE" value="HDX" autocomplete="off">
                <hr>
                <strong><i class="far fa-file-alt mr-1"></i> 메모</strong>
                <input type="text-muted" class="form-control" id="MEMO" name="MEMO" value="" autocomplete="off">
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="submit" class="btn btn-primary">수정하기</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}


{% block SCRIPT %}
<script>
  function openModal(HOSPITAL){
    generatePacket('HOSPITAL', HOSPITAL, '');
  }

  function sendToServer(packet) {
    console.log(packet);
    $.ajax({
      dataType: "JSON",
      url: "/_JSON",
      contentType: "application/json",
      data: JSON.stringify(packet),
      type: 'POST',
      async: true,
      success: function (result) {
        RESULT = JSON.parse(result);
        console.log(RESULT);
        $('#ID').val(RESULT['ID']);
        $('#NAME').val(RESULT['NAME']);
        $('#CONTACT').val(RESULT['CONTACT']);
        $('#ADDRESS').val(RESULT['ADDRESS']);
        $('#DEVICE').val(RESULT['DEVICE']);
        $('#MEMO').val(RESULT['MEMO']);
      }
    });
  }

  function generatePacket(ORDER, PARAMETER, SETVALUE) {
    var parameter = {};
    parameter['ORDER'] = ORDER;
    parameter['PARAMETER'] = PARAMETER;
    parameter['SETVALUE'] = SETVALUE;
    parameter['ID'] = "MANAGER";
    sendToServer(parameter);
  }

</script>
{% endblock %}

