<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
.mySlides {display:none;}
</style>
<body>

<div class="w3-container">
  <h2>Animated Slides</h2>
  <p>Slide or fade in an element from the top, bottom, left or right of the screen with the w3-animate-* classes.</p>
</div>

<div class="w3-content w3-section" style="max-width:500px">
  <img id="my_image1" class="mySlides w3-animate-top" src="../static/img/img_rr_01.jpg" style="width:100%;display:block">
  <img id="my_image2" class="mySlides w3-animate-top" src="../static/img/img_rr_01.jpg" style="width:100%;display:block">
  <img id="my_image3" class="mySlides w3-animate-top" src="../static/img/img_rr_01.jpg" style="width:100%;display:block">
  <img id="my_image4" class="mySlides w3-animate-top" src="../static/img/img_rr_01.jpg" style="width:100%;display:block">
  <img id="my_image5" class="mySlides w3-animate-top" src="../static/img/img_rr_01.jpg" style="width:100%;display:block">
  <img id="my_image6" class="mySlides w3-animate-top" src="../static/img/img_rr_01.jpg" style="width:100%;display:block">
  <img id="my_image7" class="mySlides w3-animate-top" src="../static/img/img_rr_01.jpg" style="width:100%;display:block">
  <img id="my_image8" class="mySlides w3-animate-top" src="../static/img/img_rr_01.jpg" style="width:100%;display:block">
  <img id="my_image9" class="mySlides w3-animate-top" src="../static/img/img_rr_01.jpg" style="width:100%;display:block">
</div>

<script>
  //$('#my_image').attr('src','../static/px/'+'20180723174140.png');
  //alert("test");
  var i = 0;
  var files = {{filelist|tojson}};
  var files = JSON.parse(files)
  carousel();
  function carousel() {
    $('#my_image1').attr('src','../static/px/'+files[i]);
    $('#my_image2').attr('src','../static/px/'+files[i+10]);
    $('#my_image3').attr('src','../static/px/'+files[i+20]);
    $('#my_image4').attr('src','../static/px/'+files[i+30]);
    $('#my_image5').attr('src','../static/px/'+files[i+40]);
    $('#my_image6').attr('src','../static/px/'+files[i+50]);
    $('#my_image7').attr('src','../static/px/'+files[i+60]);
    $('#my_image8').attr('src','../static/px/'+files[i+70]);
    $('#my_image9').attr('src','../static/px/'+files[i+80]);
    i++;
    $.get('JSON', function (data) {
      alert(data)
    });
    setTimeout(carousel, 1000);
  }


</script>
</body>
