{% extends "view.html" %}

{% block sidenav %}
<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card" id="mySidebar">
  <a href="/logout" class="w3-bar-item w3-button w3-large" id="mySidebar2">
    <img src="../static/src/logo_horizontal.jpg" width=100%>
  </a>
  <div class='w3-container w3-blue-grey'>
    <p><i class="fa fas fa-hospital w3-margin-right w3-large"></i>{{hospital}}
      <button class="w3-button w3-red w3-hover-grey w3-padding-small w3-small" style='float:right;'
        onclick='window.location.href = "/logout";'>LOG OUT</button>
    </p>
  </div>
  <div>
    <div class="w3-dropdown-click" style='width:40%'>
      <button onclick="SHOW_DATASET()" class="w3-button w3-black w3-round-small">날짜 선택하기</button>
      <div id="DATASET_MENU" class="w3-dropdown-content w3-bar-block w3-border w3-animate-opacity"
        style="overflow-y:scroll;height:400px;">
        {% for dataset in datasetlist %}
        <a href="#" class="w3-bar-item w3-button"
          onclick="SHOW_DATASET();SELECT_DATASET('{{dataset['DATASET_NAME']}}');">{{dataset['DATASET_NAME']}}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="w3-bar w3-black">
    <button class="w3-button" id="UNREAD_TAB" onclick="openTab('UNREAD')">UNREAD</button>
    <button class="w3-button" id="COMMENT_TAB" onclick="openTab('COMMENT')">COMMENT</button>
    <button class="w3-button w3-grey" id="ALL_TAB" onclick="openTab('ALL')">ALL</button>
  </div>

  <input type="text" id="mySearch" onkeyup="searchFilter()" placeholder="Search.." title="Type in a category">

  <div id="Demo1" class="w3-animate-left" , style="height:calc(100% - (100px + 210px));">
    {% for data in datalist %}
    <div class="{{data['REVIEW_CHECK']}} {{data['CONFIRM_CHECK']}} {{data['DIALOG']}} ARTICLE_LIST w3-display-container"
      id="{{data['FILENAME'][:-4]}}" text="{{data['FILENAME']}}">
      <a href="javascript:void(0)" class="w3-bar-item w3-button test w3-hover-dark-grey"
        onclick="openImage('{{data['FILENAME']}}')" class="img_name">
        <div class="w3-container" style='padding:0px'>
          <div class="w3-opacity" id="xray"><img src=/thumb/{{current_dataset}}/{{data['FILENAME']}}
              style='height:65px;width:130px;'>
          </div>
          {% if data['NOTI'] == 'HOSPITAL' %}
          <span class="w3-tag w3-round w3-red w3-border w3-border-white w3-display-bottomright"
            style="margin-bottom:15px">NEW</span>
          {% endif %}
          <div class="w3-opacity" id="xray_exp" style='font-size:12px;margin-top:5px;'>
            <i class='fas fa-copy w3-margin-right w3-text-blue'></i>{{data['FILENAME'][0:14]}}
            <br>
            <i class='far fa-hospital w3-margin-right w3-text-blue'></i>{{data['HOSPITAL']}}
            <br>
            <i class='fas fa-smile w3-margin-right w3-text-blue'></i>{{data['NAME']}}
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class=center>
    <button class=below_btn onclick="SUMMARY_BUTTON_CONTROL();">STATISTICS
      SUMMARY</button>
  </div>
</nav>

{% endblock %}

{% block rightnav %}
<div class="width100">
  <div class="slidecontainer">
    <div id="right_box1" style='text-align:left'>
      <div id="right_box2">
        <button id='PREDICTION_BUTTON' class="w3-button w3-grey w3-hover-grey w3-padding-small">PREDICTION</button>
        <button id='RESET_BUTTON' class="w3-button w3-blue w3-hover-grey w3-padding-small">RESET</button>
      </div>
      <div class=''>
        <div id="right_box4">Brightness</div>
        <div id='brightness' style='padding-left:20px'>
          <input type="range" step="1" min="0" max="100" class="slider" id="myRange">
        </div>
      </div>
      <div class=''>
        <div id="right_box4">Contrast</div>
        <div id='contrast' style='padding-left:20px'>
          <input type="range" step="1" min="0" max="100" class="slider" id="contraRange">
        </div>
      </div>
      <div id="right_box6">
        <div class=text_left id="prdiction">Prediction</div>
        <div class="text_left f_gray">TMJ RIGHT<b id=TMJ_LEFT_SCORE></b></div>
        <div class="w3-grey">
          <div id="GA_bar" class="w3-container w3-green w3-center" style="width:100%;height:4px;"></div>
        </div>
        <div class="text_left f_gray">TMJ LEFT<b id=TMJ_RIGHT_SCORE></b></div>
        <div class="w3-grey">
          <div id="GA_bar" class="w3-container w3-green w3-center" style="width:100%;height:4px;"></div>
        </div>
        <div class="text_left f_gray">OSTEOPOROSIS<b id=OSTEOPOROSIS_SCORE></b></div>
        <div class="w3-grey">
          <div id="GA_bar" class="w3-container w3-green w3-center" style="width:100%;height:4px;"></div>
        </div>
      </div>
      <br>
      <div id="right_box7" style='text-align:center'>
        <span style="color:black;padding:2px;display:inline-block;">예측 이상소견</span>
      </div>
      <div style="height:calc(100% - 500px);overflow-y:scroll;width:100%;text-align:left;padding:10px;">
        <table id="disease_list" class="w3-table-all w3-text-black">
        </table>
      </div>
      <button class="QC_open-button w3-padding-small w3-blue" style="font-size:16px;" onclick="openChat();">판독
        문의하기</button>
    </div>
  </div>
</div>
{% endblock %}