<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
  .mySlides {
    display: none;
  }
</style>

<body>

  <div class="w3-container">
    <h2>Animated Slides</h2>
    <p>Slide or fade in an element from the top, bottom, left or right of the screen with the w3-animate-* classes.</p>
  </div>

  <div class="w3-content w3-section" style="max-width:500px">
    <img id="my_image1" class="mySlides w3-animate-top" src="../static/img/img_rr_01.jpg" 
      style="width:100%;display:block">
    <img id="my_image1" class="mySlides w3-animate-top" src="/database/sample.jpg" 
      style="width:100%;display:block">
  </div>

</body>