<!DOCTYPE html>
<html lang="en">
<title>인공지능 융합연구소 Panarama X-Ray</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/imageviewer.css" type="text/css" />
<link rel="stylesheet" href="../static/css/style.css" type="text/css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="../static/js/jquery-1.11.3.min.js"></script>
<script src="../static/js/imageviewer.js"></script>
<script src="../static/js/bbox_annotator.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.5/TweenMax.min.js'></script>

<body>
  <!-- Side Navigation -->
  <nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card" id="mySidebar">
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-large" id="mySidebar2">
      <img src="../static/src/AI MANAGEMENT LOGO.png" width=100%>
    </a>
    <div>
      <div class="w3-dropdown-click" style='width:50%'>
        <button onclick="SHOW_DATASET()" class="w3-button w3-black w3-round-small">LOAD DATASET</button>
        <div id="Demo" class="w3-dropdown-content w3-bar-block w3-border w3-animate-opacity">
          {% for dataset in datasetlist %}
          <a href="#" class="w3-bar-item w3-button"
            onclick="SHOW_DATASET();SELECT_DATASET('{{dataset['DATASET_NAME']}}');">{{dataset['DATASET_NAME']}}</a>
          {% endfor %}
        </div>
      </div>
      <button onclick='sendCompleteLabeling();' class="w3-button w3-black">UNLOAD</button>
    </div>

    <div class="w3-bar w3-black">
      <button class="w3-button" id="UNREAD_BUTTON" onclick="openTab('UNREAD')">UNREAD</button>
      <button class="w3-button" id="READ_BUTTON" onclick="openTab('READ')">READ</button>
      <button class="w3-button w3-grey" id="ALL_BUTTON" onclick="openTab('ALL')">ALL</button>
    </div>

    <div id="Demo1" class="w3-animate-left">
      {% for data in datalist %}
      <div class="{{data['REVIEW_CHECK']}}" id="{{data['FILENAME'][:-4]}}">
        <a href="javascript:void(0)" class="w3-bar-item w3-button test w3-hover-dark-grey"
          onclick="openImage('{{data['FILENAME']}}')" class="img_name">
          <div class="w3-container" style='padding:0px'>
            <div class="w3-opacity" id="xray"><img src=/database/{{data['FILENAME']}} style='height:65px;width:130px;'>
            </div>
            <div class="w3-opacity" id="xray_exp" style='font-size:12px'>
              {{data['FILENAME'][0:15]}}<br>{{data['SEX']+'/'+data['AGE']}}<br></div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class=center>
      <button class=below_btn onclick='alert("구현 예정입니다.");'>START TRAINING</button>
      <button class=below_btn onclick="document.getElementById('id03').style.display='block'">ACCURACY RESULT</button>
    </div>
  </nav>

  <!-- Main Page -->
  <div class="w3-main" id="page">
    <div id="page1" class="w3-container person" style='margin-left:300px;'>
      <div id="main_img" style='display:none'>
        <div id="bbox_annotator" style="display:inline-block;"></div>
        <!--img src="" id=img2 width=60%-->
      </div>
      <div id="unlabeled_img" style='display:none'>
        <img src="" id=img3 width=60%>
      </div>
      <div id="main_input" width=60% style='display:none;overflow-y:scroll;height:250px'>
        <br>
        <p id='TMJ_RADIOBUTTON' class='w3-text-white'>
          TMJ DISORDER LEFT :
          <button id=TMJ_LEFT_NORMAL_BUTTON class="w3-button w3-grey w3-hover-black w3-padding-small">Normal</button>
          <button id=TMJ_LEFT_ABNORMAL_BUTTON class="w3-button w3-grey w3-hover-red w3-padding-small">Abnormal</button>
        </p>
        <p id='TMJ_RADIOBUTTON' class='w3-text-white'>
          TMJ DISORDER RIGHT :
          <button id=TMJ_RIGHT_NORMAL_BUTTON class="w3-button w3-grey w3-hover-black w3-padding-small">Normal</button>
          <button id=TMJ_RIGHT_ABNORMAL_BUTTON class="w3-button w3-grey w3-hover-red w3-padding-small">Abnormal</button>
        </p>
        <p id='OSTEOPOROSIS_RADIOBUTTON' class=w3-text-white>
          OSTEOPOROSIS :
          <button id=OSTEOPOROSIS_NORMAL_BUTTON
            class="w3-button w3-grey w3-hover-black w3-padding-small">Normal</button>
          <button id=OSTEOPOROSIS_ABNORMAL_BUTTON
            class="w3-button w3-grey w3-hover-red w3-padding-small">Abnormal</button>
        </p>
        <br>
        <p>
          <button class="w3-button w3-black">CONFORM</button>
        </p>
      </div>
      <div id="annotation_data" name="annotation" rows="30" cols="50" style="display:none"></div>
      <div>
        <div class="width100">
          <div class="slidecontainer">
            <div id="right_box1" style='text-align:left'>
              <div id="right_box2">
                <button id='labeled_button' class="w3-button w3-grey w3-hover-red w3-padding-small">LABEL ON</button>
                <button id='normal_button' class="w3-button w3-grey w3-hover-black w3-padding-small">LABEL OFF</button>
              </div>
              <div class=''>
                <div id="right_box4">Brightness</div>
                <div id='brightness' style='padding-left:20px'>
                  <input type="range" step="1" min="0" max="100" class="slider" id="myRange">
                </div>
              </div>
              <div class=''>
                <div id="right_box4">Contrast</div>
                <div id='contrast' style='padding-left:20px'>
                  <input type="range" step="1" min="0" max="100" class="slider" id="contraRange">
                </div>
              </div>
              <div id="right_box6">
                <div class=text_left id="prdiction">Prediction</div>
                <div class="text_left f_gray">TMJ RIGHT<b id=TMJ_LEFT_SCORE></b></div>
                <div class="w3-grey">
                  <div id="GA_bar" class="w3-container w3-green w3-center" style="width:100%;height:4px;"></div>
                </div>
                <div class="text_left f_gray">TMJ LEFT<b id=TMJ_RIGHT_SCORE></b></div>
                <div class="w3-grey">
                  <div id="GA_bar" class="w3-container w3-green w3-center" style="width:100%;height:4px;"></div>
                </div>
                <div class="text_left f_gray">OSTEOPOROSIS<b id=TMJ_RIGHT_SCORE></b></div>
                <div class="w3-grey">
                  <div id="GA_bar" class="w3-container w3-green w3-center" style="width:100%;height:4px;"></div>
                </div>
              </div>
              <br>
              <div id="right_box7" style='text-align:center'>
                <span id="comments">Comments</span>
                <a href="javascript:void(0)" onclick="document.getElementById('id02').style.display='block'"
                  id="insert_btn">INSERT</a>
              </div>
              <div id="comment_box">
                <div id='COMMENT_TEXT' style="font-weight:lighter;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal INSERT IMAGE -->
  <div id="id01" class="w3-modal" style="z-index:5">
    <div class="w3-modal-content w3-animate-zoom">
      <div class="w3-container w3-padding w3-blue-grey">
        <span onclick="document.getElementById('id01').style.display='none'"
          class="w3-button w3-blue-grey w3-right w3-xxlarge"><i class="fa fa-remove"></i></span>
        <h2 class="w3-blue-grey">Insert New Image</h2>
      </div>
      <div class="w3-panel">
        <label style="border:0px solid red;">Image Lists</label>
        <form id="FILE_FORM" method="post" enctype="multipart/form-data" action="" style="border:0px solid red;">
          <input type="file" class="w3-input w3-border w3-margin-bottom" id="FILE_TAG" name="FILE_TAG"
            style="border:5px solid blue;" multiple>
          <br>
        </form>
        <div class="w3-section" style="border:0px solid red;">
          <a class="w3-button w3-blue-grey" onclick="document.getElementById('id01').style.display='none'">Cancel
             <i class="fa fa-remove"></i></a>
          <a class="w3-button w3-light-grey w3-right"
            onclick="uploadFile();document.getElementById('id01').style.display='none'">Select  <i
              class="fa fa-paper-plane"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal COMMENT -->
  <div id="id02" class="w3-modal" style="z-index:5">
    <div class="w3-modal-content w3-animate-zoom">
      <div class="w3-container w3-padding w3-blue-grey">
        <span onclick="document.getElementById('id02').style.display='none'"
          class="w3-button w3-blue-grey w3-right w3-xxlarge"><i class="fa fa-remove"></i></span>
        <h2 class="w3-blue-grey">Insert Comment</h2>
      </div>
      <div class="w3-panel">
        <textarea id="TEXT_AREA" style='width:100%;height:200px;'></textarea>
        <div class="w3-section">
          <a class="w3-button w3-blue-grey" onclick="document.getElementById('id02').style.display='none'">Cancel
             <i class="fa fa-remove"></i></a>
          <a id='WRITE_BUTTON' class="w3-button w3-light-grey w3-right"
            onclick="document.getElementById('id02').style.display='none'" ;>Write  <i
              class="fa fa-paper-plane"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal ACCURACY SUMMARY -->
  <div id="id03" class="w3-modal" style="z-index:5">
    <div class="w3-modal-content w3-animate-zoom">
      <div class="w3-container w3-padding w3-blue-grey">
        <span onclick="document.getElementById('id03').style.display='none'"
          class="w3-button w3-blue-grey w3-right w3-xxlarge"><i class="fa fa-remove"></i></span>
        <h2 class="w3-blue-grey">Accuracy Summary</h2>
      </div>
      <div class="w3-panel">
        <textarea id="t_area"></textarea>
        <div class="w3-section">
          <a class="w3-button w3-blue-grey" onclick="document.getElementById('id03').style.display='none'">Cancel
             <i class="fa fa-remove"></i></a>
          <a class="w3-button w3-light-grey w3-right" onclick="document.getElementById('id02').style.display=none">Write
             <i class="fa fa-paper-plane"></i></a>
        </div>
      </div>
    </div>
  </div>

  <script>

    var BODY = document.body, HTML = document.documentElement;
    var DEVICEHEIGHT = Math.max(BODY.scrollHeight, BODY.offsetHeight, HTML.clientHeight, HTML.scrollHeight, HTML.offsetHeight);
    var DEVICEWIDTH = Math.max(BODY.scrollWidth, BODY.offsetWidth, HTML.clientWidth, HTML.scrollWidth, HTML.offsetWidth);
    var image_width = DEVICEWIDTH - 650;
    var image_ratio = 0;

    var FILENAME = '';
    var GUIDED_FILENAME = '';

    // IMAGE LABELER BLOCK
    var annotator;
    var annotator_stop;
    $(document).ready(function () {
      annotator = new BBoxAnnotator({
        url: "../static/img/Z0001.jpg",
        input_method: "select",
        labels: ["경동맥석회화", "정맥석", "편도석회화", "경상설골인대골화", "하악골설측함요", "하악관침범", "정중과잉치", "그냥과잉치", "방사선불투과성", "방사선투과성", "저류가성낭", "치근단골형성이상", "점막비후", "상악동혼탁상", "선천적치아결손","타석"],
        onchange: function (entries) {
          var parameter = {};
          parameter['ORDER'] = 'LABEL';
          parameter['FILENAME'] = FILENAME;
          parameter['PARAMETER'] = 'BBOX_LABEL';
          parameter['SETVALUE'] = JSON.stringify(entries);
          parameter['RATIO'] = image_ratio;
          if (annotator_stop == false) {
            sendToServer(parameter);
          }
          console.log(parameter);
        },
        width: DEVICEWIDTH - 650,
        height: (DEVICEWIDTH - 650) / 1.9
      });

      $("#Demo1").click(function (e) {
        annotator.clear_all();
      })
    });

    $('#WRITE_BUTTON').click(function () {
      var parameter = {};
      parameter['ORDER'] = 'LABEL';
      parameter['FILENAME'] = FILENAME;
      parameter['PARAMETER'] = 'COMMENT_TEXT';
      parameter['SETVALUE'] = $('#TEXT_AREA').val();
      $('#COMMENT_TEXT').html($('#TEXT_AREA').val());
      sendToServer(parameter);
    });

    var count = 0;

    function TMJ_LEFT_BUTTON_CONTROL(signal) {
      if (signal == 'NORMAL') {
        $('#TMJ_LEFT_ABNORMAL_BUTTON').attr("class", "w3-button w3-grey w3-hover-red w3-padding-small");
        $('#TMJ_LEFT_NORMAL_BUTTON').attr("class", "w3-button w3-black w3-hover-black w3-padding-small");
      }
      if (signal == 'ABNORMAL') {
        $('#TMJ_LEFT_ABNORMAL_BUTTON').attr("class", "w3-button w3-red w3-hover-red w3-padding-small");
        $('#TMJ_LEFT_NORMAL_BUTTON').attr("class", "w3-button w3-grey w3-hover-black w3-padding-small");
      }
      if (signal == 'NONE') {
        $('#TMJ_LEFT_ABNORMAL_BUTTON').attr("class", "w3-button w3-grey w3-hover-red w3-padding-small");
        $('#TMJ_LEFT_NORMAL_BUTTON').attr("class", "w3-button w3-grey w3-hover-black w3-padding-small");
      }
    }

    function TMJ_RIGHT_BUTTON_CONTROL(signal) {
      if (signal == 'NORMAL') {
        $('#TMJ_RIGHT_ABNORMAL_BUTTON').attr("class", "w3-button w3-grey w3-hover-red w3-padding-small");
        $('#TMJ_RIGHT_NORMAL_BUTTON').attr("class", "w3-button w3-black w3-hover-black w3-padding-small");
      }
      if (signal == 'ABNORMAL') {
        $('#TMJ_RIGHT_ABNORMAL_BUTTON').attr("class", "w3-button w3-red w3-hover-red w3-padding-small");
        $('#TMJ_RIGHT_NORMAL_BUTTON').attr("class", "w3-button w3-grey w3-hover-black w3-padding-small");
      }
      if (signal == 'NONE') {
        $('#TMJ_RIGHT_ABNORMAL_BUTTON').attr("class", "w3-button w3-grey w3-hover-red w3-padding-small");
        $('#TMJ_RIGHT_NORMAL_BUTTON').attr("class", "w3-button w3-grey w3-hover-black w3-padding-small");
      }
    }

    function OSTEOPOROSIS_BUTTON_CONTROL(signal) {
      if (signal == 'NORMAL') {
        $('#OSTEOPOROSIS_ABNORMAL_BUTTON').attr("class", "w3-button w3-grey w3-hover-red w3-padding-small");
        $('#OSTEOPOROSIS_NORMAL_BUTTON').attr("class", "w3-button w3-black w3-hover-black w3-padding-small");
      }
      if (signal == 'ABNORMAL') {
        $('#OSTEOPOROSIS_ABNORMAL_BUTTON').attr("class", "w3-button w3-red w3-hover-red w3-padding-small");
        $('#OSTEOPOROSIS_NORMAL_BUTTON').attr("class", "w3-button w3-grey w3-hover-black w3-padding-small");
      }
      if (signal == 'NONE') {
        $('#OSTEOPOROSIS_ABNORMAL_BUTTON').attr("class", "w3-button w3-grey w3-hover-red w3-padding-small");
        $('#OSTEOPOROSIS_NORMAL_BUTTON').attr("class", "w3-button w3-grey w3-hover-black w3-padding-small");
      }
    }

    function LABEL_ONOFF_CONTROL(signal) {
      if (signal == 'ON') {
        $('#labeled_button').attr("class", "w3-button w3-red w3-hover-red w3-padding-small");
        $('#normal_button').attr("class", "w3-button w3-grey w3-hover-black w3-padding-small");
        $('#unlabeled_img').css('display', 'none');
        $('#main_img').css('display', '');
      }
      else {
        $('#labeled_button').attr("class", "w3-button w3-grey w3-hover-red w3-padding-small");
        $('#normal_button').attr("class", "w3-button w3-black w3-hover-black w3-padding-small");
        $('#unlabeled_img').css('display', '');
        $('#main_img').css('display', 'none');
      }
    }

    //BUTTON CONTROL BLOCK
    function BUTTON_CONROL() {
      //DISEASE LABELING
      $('#TMJ_LEFT_NORMAL_BUTTON').click(function () {
        TMJ_LEFT_BUTTON_CONTROL('NORMAL');
        generatePacket('LABEL', 'TMJ_LEFT', 0);
      });
      $('#TMJ_LEFT_ABNORMAL_BUTTON').click(function () {
        TMJ_LEFT_BUTTON_CONTROL('ABNORMAL');
        generatePacket('LABEL', 'TMJ_LEFT', 1);
      });

      $('#TMJ_RIGHT_NORMAL_BUTTON').click(function () {
        TMJ_RIGHT_BUTTON_CONTROL('NORMAL');
        generatePacket('LABEL', 'TMJ_RIGHT', 0);
      });
      $('#TMJ_RIGHT_ABNORMAL_BUTTON').click(function () {
        TMJ_RIGHT_BUTTON_CONTROL('ABNORMAL');
        generatePacket('LABEL', 'TMJ_RIGHT', 1);
      });

      $('#OSTEOPOROSIS_NORMAL_BUTTON').click(function () {
        OSTEOPOROSIS_BUTTON_CONTROL('NORMAL');
        generatePacket('LABEL', 'OSTEOPOROSIS', 0);
      });
      $('#OSTEOPOROSIS_ABNORMAL_BUTTON').click(function () {
        OSTEOPOROSIS_BUTTON_CONTROL('ABNORMAL');
        generatePacket('LABEL', 'OSTEOPOROSIS', 1);
      });

      //LABELING SWITCH
      $('#normal_button').click(function () {
        LABEL_ONOFF_CONTROL('OFF');
      });
      $('#labeled_button').click(function () {
        LABEL_ONOFF_CONTROL('ON');
      });

      //BRIGHTNESS CONTROL
      $('#brightness input').on("input", function () {
        var img = $('#brightness img');
        TweenMax.set('#main_img', { '-webkit-filter': 'brightness(' + this.value * 2 + '%' + ')' });
      });

      //CONTRAST CONTROL
      $('#contrast input').on("input", function () {
        var img = $('#contrast img');
        TweenMax.set('#main_img', { '-webkit-filter': 'contrast(' + this.value * 2 + '%' + ')' });
      });

      // SET INITIAL BRIGHTNESS
      $('#brightness input').val(50);
      $('#brightness input').trigger("mouseover");
    }

    BUTTON_CONROL();

    function openImage(FILENAME_CURRENT) {
      FILENAME = FILENAME_CURRENT;
      actual_image_width(FILENAME);
      annotator_stop = true;
      $('#main_img').css("display", "");
      $('#main_img').css("width", DEVICEWIDTH + 'px');
      $('#main_input').css("display", "");
      $('#img2').attr("src", "/database/" + FILENAME);
      $('#img3').attr("src", "/database/" + FILENAME);
      $('#img3').attr("width", (DEVICEWIDTH - 648) + "px");
      $('.CURRENT').attr('class', 'READ');
      $('.image_frame').css("background-image", "url('" + "/database/" + FILENAME + "')");
      $('#' + FILENAME.substring(0, FILENAME.length - 4)).attr('class', 'CURRENT');
      var parameter = { 'ORDER': 'TARGET', 'FILENAME': FILENAME };
      sendToServer(parameter);
    }

    function sendCompleteLabeling() {
      var parameter = { 'ORDER': 'DB_INFO', 'PARAMETER': 'DB_STATUS', 'SETVALUE': 'COMPLETE' };
      sendToServer(parameter);
      window.location.href = "/viewer";
    }

    function openTab(tabName) {
      $('.CURRENT').attr('class', 'READ');
      if (tabName == 'READ') {
        $('.READ').show(200);
        $('.UNREAD').hide(200);
        $('#READ_BUTTON').addClass('w3-grey');
        $('#UNREAD_BUTTON').removeClass('w3-grey');
        $('#ALL_BUTTON').removeClass('w3-grey');
      }
      if (tabName == 'UNREAD') {
        $('.READ').hide(200);
        $('.UNREAD').show(200);
        $('#READ_BUTTON').removeClass('w3-grey');
        $('#UNREAD_BUTTON').addClass('w3-grey');
        $('#ALL_BUTTON').removeClass('w3-grey');
      }
      if (tabName == 'ALL') {
        $('.READ').show(200);
        $('.UNREAD').show(200);
        $('#READ_BUTTON').removeClass('w3-grey');
        $('#UNREAD_BUTTON').removeClass('w3-grey');
        $('#ALL_BUTTON').addClass('w3-grey');
      }
    }

    function actual_image_width(FILENAME) {
      var dimension, image;
      image = new Image();
      image.src = "/database/" + FILENAME;
      image.onload = function () {
        dimension = {
          width: image.naturalWidth,
          height: image.naturalHeight
        };
        image_ratio = image_width / dimension.width;
      };
    }

    function sendToServer(packet) {
      $.ajax({
        dataType: "JSON",
        url: "/_JSON",
        contentType: "application/json",
        data: JSON.stringify(packet),
        type: 'POST',
        success: function (result) {
          if (packet['ORDER'] == 'TARGET') {
            result = JSON.parse(result);
            if (result['TMJ_LEFT'] == '') {
              TMJ_LEFT_BUTTON_CONTROL('NONE');
            } else if (result['TMJ_LEFT'] > 0.5) {
              TMJ_LEFT_BUTTON_CONTROL('ABNORMAL');
            } else {
              TMJ_LEFT_BUTTON_CONTROL('NORMAL');
            }
            if (result['TMJ_RIGHT'] == '') {
              TMJ_RIGHT_BUTTON_CONTROL('NONE');
            } else if (result['TMJ_RIGHT'] > 0.5) {
              TMJ_RIGHT_BUTTON_CONTROL('ABNORMAL');
            } else {
              TMJ_RIGHT_BUTTON_CONTROL('NORMAL');
            }
            if (result['TMJ_LEFT'] == '') {
              OSTEOPOROSIS_BUTTON_CONTROL('NONE');
            } else if (result['OSTEOPOROSIS'] > 0.5) {
              OSTEOPOROSIS_BUTTON_CONTROL('ABNORMAL');
            } else {
              OSTEOPOROSIS_BUTTON_CONTROL('NORMAL');
            }
            $('#TEXT_AREA').val(result['COMMENT_TEXT']);
            $('#COMMENT_TEXT').html(result['COMMENT_TEXT']);
            setTimeout(function () {
              annotator.clear_all();
              if (result['BBOX_LABEL'] == '') {
                result['BBOX_LABEL'] = '[]';
              }
              var labels = JSON.parse(result['BBOX_LABEL']);
              labels.forEach(function (each_label) {
                var rect = {
                  left: each_label.left * image_ratio,
                  top: each_label.top * image_ratio,
                  width: each_label.width * image_ratio,
                  height: each_label.height * image_ratio
                };
                rect.label = each_label.label;
                annotator.add_entry(rect);
              });
              annotator_stop = false;
              LABEL_ONOFF_CONTROL('ON');
            }, 100);
          }
        }
      });
    }

    function generatePacket(ORDER, PARAMETER, SETVALUE) {
      var parameter = {};
      parameter['ORDER'] = ORDER;
      parameter['FILENAME'] = FILENAME;
      parameter['PARAMETER'] = PARAMETER;
      parameter['SETVALUE'] = SETVALUE;
      sendToServer(parameter);
    }

    function SHOW_DATASET() {
      var x = document.getElementById("Demo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }

    function SELECT_DATASET(DATASET_NAME) {
      window.location.href = "/viewer/" + DATASET_NAME;
    }

  </script>

</body>

</html>